!!!5
html
	head
		title Knockr
		link(href="client.css",rel="stylesheet",type="text/css")
		script(src="/socket.io/socket.io.js")
		script(src="underscore-min.js")
		script(src="controllers.js")
		script(src="client.js")
	body!= body